* {
  box-sizing: border-box;
}

body {
  background-color: #bdbdbd;
  font-family: 'Roboto', serif;
  margin: 0;
}

header {
  background-color: white;
  padding: 10px;
}

header h1 {
  margin: 0;
  text-align: center;
}

div.post {
  background-color: white;
  margin-top: 20px;
}

div.post img {
  height: 360px;
  width: 100%;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.post .post-header div:first-child {
  display: inline-block;
  width: 80%;
}

div.post .post-header div:last-child {
  display: inline-block;
  width: 20%;
  text-align: end;
  padding-right: 8px;
  color: gray;
}

div.post h2,
div.post p {
  padding: 5px;
  margin: 0;
}

div.container {
  width: 600px;
  margin: auto;
}
